
*{
  font-family: 'Montserrat', sans-serif;
  margin:0;
  padding:0;
  box-sizing:border-box;
}

 <style>
.navbar-nav 
{
  margin-left: auto;
}
</style> 

.container-fluid
{
    width:100%;
    white-space:nowrap;
    background-color: #5E11A3;
}

.container h2{
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin: 5px;
    padding: 7px;
}

.welcome h2{
  margin: 10px;
  padding: 5px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.849);
  border-radius: 10px;
}
h3{
  margin: 28px;
  padding: 5px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}
