
*{
  font-family: 'Montserrat', sans-serif;
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.container-fluid
{
    width:100%;
    white-space:nowrap;
    background-color: #5E11A3;
}
.container h2{
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin: 5px;
    padding: 7px;
}

.welcome h2{
  width:100%;
  white-space:nowrap;
  background-color: rgba(95, 49, 170, 0.849);
}

h3{
  margin: 28px;
  padding: 5px;
  text-align: center;
  background-color: rgba(43, 40, 40, 0.993);
  border-radius: 10px;
}
